body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #020617;
}

.box {
    margin-top: 100px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background: #38bdf8;
    border: none;
    cursor: pointer;
}

.dashboard {
    margin-top: 50px;
}

.item {
    background: #1e293b;
    margin: 10px;
    padding: 10px;
}
