<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory System</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="layout">

    <!-- Sidebar -->
    <aside class="sidebar">
        <h2>Inventory</h2>
        <a href="/dashboard">Dashboard</a>
        <a href="/issue">Issue</a>
        <a href="/receive">Receive</a>
        <a href="/logout">Logout</a>
    </aside>

    <!-- Main -->
    <main class="main">
        {% block content %}{% endblock %}
    </main>

</div>

</body>
</html>
